* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 70%;
    scroll-behavior: smooth;
}

body {
    font-family: Arial;
    font-weight: 600;
    line-height: 1.5;
    font-size: 1.7rem;
    overflow-x: hidden;
}

.container1 {
    max-width: 100vw;
    margin: 0 auto;
    cursor: default;
}

.hero-section {
    background-image: url('images/hero_img.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-blend-mode: multiply;
    background-color: #141b3486;
}

header {
    position: fixed;
    top: 0;
    background-color: black;
    border: 0;
    transition: all 0.3s ease-in-out 0s;
    width: 100vw;
    z-index: 10;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #ffffff;
    padding: 18px 0px;
    transition: all 0.3s;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li {
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: none;
    padding: 5px 10px;
}

nav ul li:hover {
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.288);
    padding: 5px 10px;
    transition: 0.2s ease-in-out;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

.logo {
    font-size: 2.5rem;
    font-weight: 800;
}

.logo2 {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 80px;
    top: 40px;
}

.logo1 {
    display: inline-block;
}

.logo3 {
    display: inline-block;
}

.login,
.signup {
    padding: 8px;
    border: 2px solid gray;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1.3rem;
    background-color: rgba(255, 255, 255, 0.764);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
}

.login:hover {
    background-color: green;
    color: whitesmoke;
}

.signup {
    background-color: green;
    color: whitesmoke;
}

.signup:hover {
    background-color: darkgreen;
    color: whitesmoke;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content1 {
    color: #ffffff;
    font-size: 5rem;
    font-weight: 700;
    padding-top: 150px;
    text-align: center;
}

.content2 {
    color: #ffffff;
    font-size: 1.6rem;
    padding-top: 20px;
    text-align: center;
}

.container2 {
    height: 295px;
    background-color: transparent;
    margin-top: -120px;
    padding: 0px 130px;
}

.book-container {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.booking {
    background-color: #ffffff;
    height: 70px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.book {
    padding: 15px;
    border: 2px solid transparent;
    border-radius: 50px;
    background-color: rgba(128, 128, 128, 0.469);
}

.book i {
    font-size: 1rem;
    color: rgb(0, 119, 255);
}

.book i span {
    color: black;
}

.book:hover {
    background-color: rgb(73, 156, 250);
}

.search-flight {
    display: flex;
    background-color: #ffffff;
    align-items: center;
    justify-content: space-evenly;
    height: 210px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.search-flight .tour {
    border: 2px solid rgba(0, 0, 0, 0.543);
    height: 80px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 65px 15px;
    background-color: rgba(128, 128, 128, 0.511);
    border-radius: 20px;
}

.search-flight .calendar {
    border: 2px solid rgba(0, 0, 0, 0.543);
    height: 80px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 65px 15px;
    background-color: rgba(128, 128, 128, 0.511);
    border-radius: 20px;
}

.search {
    padding: 30px;
    background-color: rgb(0, 119, 255);
    border: 2px solid transparent;
    border-radius: 30px;
}

.search:hover {
    background-color: rgb(21, 128, 251);
}

.search i {
    font-size: 4rem;
    color: #ffffff;
}

.src-dest {
    font-weight: 500;
    font-size: 1.5rem;
}

.src-dest i {
    color: rgb(0, 119, 255);
}

.flip i {
    transform: rotate(180deg);
}

i {
    z-index: 1;
}

.destination {
    width: 100vw;
    height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.container3 {
    width: 90vw;
    height: fit-content;
    flex-wrap: wrap;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
}

.card {
    height: 400px;
    width: 280px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    background-blend-mode: multiply;
    background-color: #141b3480;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow:  rgba(0, 0, 0, 0.245) 0px 5px 15px 0px;
}


#card1 {
    background-image: url("images/img1.png");
}

#card2 {
    background-image: url("images/img2.png");
}

#card3 {
    background-image: url("images/img3.jpg");
}

#card4 {
    background-image: url("images/img4.jpg");
}

.place {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: 0.5s;
    color: #ffffffd6;
    padding-bottom: 30px;
}

.place:hover {
    opacity: 1;
}

.name {
    font-size: 3.6rem;
    font-weight: 400;
}

.state {
    font-size: 1.6rem;
    font-weight: 400;
}

.peoples {
    font-size: 1.2rem;
    font-weight: 400;
    padding-top: 5px;
}

.place>* {
    opacity: 0;
    transform: translateY(25px);
}

.place>.name {
    opacity: 1;
    transform: translateY(25px);
    transition: transform 0.5s 0.1s;
}

.place>.state {
    opacity: 1;
    transform: translateY(25px);
    transition: transform 0.5s 0.12s;
}

.place>.peoples {
    opacity: 1;
    transform: translateY(25px);
    transition: transform 0.5s 0.18s;
}

.place:hover>.name {
    transform: translateY(0px);
}

.place:hover>.state {
    transform: translateY(0px);
}

.place:hover>.peoples {
    transform: translateY(0px);
}

.arrow {
    width: 100%;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.arrow button {
    padding: 10px 20px;
    border-radius: 5px;
}

.arrow button i {
    font-size: 2rem;
    font-weight: 700;
}

.destination .r-arrow {
    background-color: #141b34;
    color: #ffffff;
}

.arrow button:hover {
    background-color: #172148;
    color: #ffffff;
}

.services {
    width: 100vw;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.services .image {
    height: 500px;
    width: 300px;
    background-image: url("images/img6.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.box {
    height: 15%;
    width: 40%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.box h3 {
    color: blue;
}

.box p {
    font-size: 14px;
}

#box1,
#box3 {
    position: relative;
    left: 140px;
}

#box2 {
    position: relative;
    right: 140px;
}

.container4 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.book-section {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.car,
.bed {
    font-size: 30px;
}

.book-section h1 {
    font-size: 35px;
}

.book-section p {
    font-size: 18px;
    font-weight: 400;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.container5 {
    width: 92vw;
    height: fit-content;
    flex-wrap: wrap;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.img {
    height: 300px;
    width: 320px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    background-blend-mode: multiply;
    background-color: #141b3480;
    color: #ffffffd6;
}

.recommendation {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: #ffffffd6;
}

.location {
    font-size: 2.8rem;
    font-weight: 400;
}

.trips {
    font-size: 1.8rem;
    font-weight: 400;
}

.recommendation:hover {
    background-color: rgba(0, 0, 0, 0.52);
    transition: transform 0.9s ease-in-out;
    transition-delay: 1s;
}

.recommendation>* {
    opacity: 0;
    transition: 0.5s ease-in;
}

.recommendation:hover>* {
    opacity: 1;
    transition: 0.8s ease-in-out;
    transition-delay: 6ms;
}

#img1 {
    background-image: url("images/img2.png");
}

#img2 {
    background-image: url("images/img7.png");
    width: 650px;
}

#img3 {
    background-image: url("images/img4.jpg");
}

#img4 {
    background-image: url("images/img8.png");
}

#img5 {
    background-image: url("images/img9.png");
}