* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 70%;
} 

body {
    font-family: Arial;
    font-weight: 600;
    line-height: 1.5;
    font-size: 1.7rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    cursor: default;
}

.hero-section {
    background-image: url('images/hero_img.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-blend-mode: multiply;
    background-color: #141b3486;
}

header {
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.782);
    border: 0;
    transition: all 0.3s ease-in-out 0s;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    padding: 20px 0px;
    transition: all 0.3s;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li {
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: none;
    padding: 5px 10px;
}

nav ul li:hover {
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.288);
    padding: 5px 10px;
    transition: 0.2s ease-in-out;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

.logo {
    font-size: 2.5rem;
    font-weight: 800;
}

.logo2{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position:absolute;
    left: 80px;
    top: 40px;
}

.logo1 {
    display: inline-block;
}

.logo3 {
    display: inline-block;
}

button{
    padding: 8px;
    border: 2px solid gray;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1.3rem;
    background-color: rgba(255, 255, 255, 0.764);
    box-shadow: 2px 2px 2px  rgba(0, 0, 0, 0.15);
}

button:hover{
    background-color: green;
    color: whitesmoke;
}

.signup {
    background-color: green;
    color: whitesmoke;
}

.signup:hover {
    background-color: green;
    color: whitesmoke;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content1{
    color:#ffffff;
    font-size: 5rem;
    font-weight: 700;
    padding-top: 80px;
    text-align: center;
}

.content2 {
    color: #ffffff;
    font-size: 1.6rem;
    padding-top: 20px;
    text-align: center;
}